.ui {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/retro/background-dark.bmp");
  background-repeat: repeat;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  font-family: "VT323", monospace;
}
