@import "../../constants.scss";

.board {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .back {
    outline: solid cyan;

    .row {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        image-rendering: pixelated;
        width: $UNIT_SIZE;
      }
    }
  }

  .piece {
    position: fixed;
  }
}
