@import "../../constants.scss";

.board {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  .row {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      image-rendering: pixelated;
      width: $UNIT_SIZE;
    }
  }

  .piece {
    position: fixed;
  }
}
