@import "../../constants.scss";

.board {
  user-select: none;

  .unit {
    position: fixed;
    top: 0;
    left: 0;
    image-rendering: pixelated;
    width: $UNIT_SIZE;
  }

  .cleared {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
    height: $UNIT_SIZE;
  }
}
