.reduxTest {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 100px;

  .button {
    background-color: gray;
    color: lightblue;
    border-radius: 16px;
    font-size: 20px;
    cursor: pointer;

    .text {
      margin: 20px;
    }
  }
}
